body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Rubik', sans-serif;

  @media only screen and (min-width: 480px) {
    height: 100vh;
    overflow: hidden;
  }

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  font-family: 'Inter', sans-serif;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}